.idea
node_module
src
tsconfig.json
coverage
**.tgz
docs
jest.config.js
scripts
server
.prettierignore
.eslintignore
.prettierrc
.eslintrc.js
jest.config.cjs
.eslintrc.cjs
index.html
renovate.json
.renovaterc.json
.renovaterc
renovate.json5
website
build-docs.js
en.json
static
INTL_MODERNIZATION_PLAN.md
TRANSLATION_BUILDER_PLAN.md
src/clients
.github
build.js
